<h3>Buscar por continente <small>{{continenteActivo | titlecase}}</small></h3>

<hr>


<h5>Seleccione el continente: </h5>

<div class="row">
    <div class="col">

        <!-- [class.btn-primary]="region ===regionActiva" -->


        <!-- [ngClass]="{

            'btn-primary':regionActiva===region, 
            'btn-outline-primary':regionActiva!==region
        }" -->

        <!-- Las de arriba serian dos formas de hacer una evaluacion para saber que continente tenemos activado
        sin embargo, con la seleccion de clases y un comparador ternario, se hace en una simple linea -->
        <button *ngFor="let continente of continentes"
        [class]=getClaseCSS(continente)
       
        
        (click)="activarContinente(continente)">
            {{continente |titlecase}}
        </button>

        
    </div>
</div>
<div *ngIf="paises.length>0" class="row">
    <div class="col">

      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>

</div>